    <div class="credits text-center">
        <p>
            <a href="http://geektechnicalsupport.co">Geeks Technical Support</a>
        </p>
        <p>
            <a href="http://geekexperthelp.com">GEEKS</a>
        </p>
    </div>
</body>
</html>